<div>
<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.wallpaperscraft.com/image/single/volkswagen_t1_volkswagen_car_178762_3840x2160.jpg);"> %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.wallpaperflare.com/static/246/845/169/photography-vw-bus-forest-road-wallpaper-preview.jpg);">
  <div class="container">
    <h1>Vans & Woods</h1>
    <h2>Rent a van for endless adventures. </h2>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>
</div>
